/* <div class="p-items"><div class="c-image"><img src="./img/Screenshot 2024-11-15 195118.png"
alt=""
class="w-100 img-thumbnail" /></div><div class="mt-3"><h3 class="text-capitalize fs-5">Barber Shop Page </h3><a href="" class="text-decoration-none"
>View Work</a></div></div> */


.text-a {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.animated {
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.5;
    }

    50%,
    100% {
        opacity: 1;
        scale: 1;
    }
}

.service-item {
    transition: all .5s ease-in-out;
}

.service-item:hover {
    background-color: #7ED4AD !important;
    transform: translateY(-10px);
}

.card {
    transition: all .5s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.social-links a {
    transition: all .4s ease-in-out;
    color: white !important;
}

.social-links a:hover {
    transform: translateY(-5px);
}

.social-links a:nth-of-type(1) {
    background-color: #024CAA !important;
}

.social-links a:nth-of-type(2) {
    background-color: #EC8305 !important;

}

.social-links a:nth-of-type(3) {
    background-color: #091057 !important;
}

.social-links a:nth-of-type(4) {
    background-color: #54C392 !important;
}